In [2]:
from nltk import sent_tokenize, word_tokenize

In [3]:
import sklearn

In [4]:
from numpy import dot
from numpy.linalg import norm

In [5]:
import string

In [6]:
import gensim 
from gensim.models import Word2Vec

In [12]:
sample = open('data_preprocessed.txt','r')
s = sample.read()
f = s.replace('\n', ' ')

In [13]:
len(f)

19782938

In [14]:
data = []

# iterate through each sentence in the file
for i in sent_tokenize(f):

    i_new = i.translate(str.maketrans('', '', string.punctuation)) # remove unnecessary punctuations
    
    temp = []
    
    # tokenize the setence into words
    for j in word_tokenize(i_new):
        temp.append(j.lower())
        
    data.append(temp)

In [ ]:
# creating a CBOW model
model = gensim.models.Word2Vec(data, min_count = 1, size = 100, window = 3) #epoch parameter tuning

In [ ]:
#model.similar_by_word('god')
len(model.wv.vocab) #initially 19,402 -> 30,765

In [ ]:
# a function to count the frequency of words
def word_count(str):
    counts = dict()
    
    for word in str:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

In [ ]:
import numpy as np

def senemb(alpha, verse, model):

    sentEmb = np.zeros(100)
    v_count = word_count(verse)
    
    for word in verse:
        prob = alpha / (alpha + v_count[word]/len(verse))
        sentEmb = sentEmb +  model[word] * prob
        
    return sentEmb/len(verse)

In [ ]:
import pandas as pd
import string

df = pd.read_csv('data_translations.csv', usecols = ['#verse','Translation'])

verseNum_ = list(df['#verse'])
trans_ = list(df['Translation'])

trans = []

for each in trans_:
    trans.append(each.lower())

transNew = [i.translate(str.maketrans('', '', string.punctuation)) for i in trans] # remove unnecessary punctuations
verseNum = []

for num in verseNum_:
    num = num[0:len(num)-1]
    verseNum.append(num)
    
verse_map = dict(zip(transNew,verseNum))
#verse_map

In [ ]:
senVect = {}

for verse in verse_map:
    try: senVect[verse_map[verse]] = senemb(1, word_tokenize(verse), model)
    except Exception as e: print(e)

In [ ]:
vocab = list(model.wv.vocab)

In [8]:
#test query
query = 'boyhood to youth'

In [9]:
query_list = query.split()

In [10]:
query_trans = []
for ele in query_list:
    if ele in vocab:
        query_trans.append(ele)

NameError: name 'vocab' is not defined

In [11]:
query_emb = senemb(1 , query_trans , model)

NameError: name 'senemb' is not defined

In [20]:
x = list(senVect.items())
#sklearn.metrics.pairwise.cosine_similarity(X, Y, dense_output=True)

In [1]:
senVect

NameError: name 'senVect' is not defined

In [21]:
scores = []

In [22]:
for i in range(len(senVect)):
    a = list(senVect.items())[i][1]
#     print(a)
#     print(query_emb)
    b= (dot(a , query_emb))/(norm(a)*norm(query_emb))
    #print(b)
    scores.append(b)

In [23]:
df1 = pd.concat([df,pd.DataFrame(scores)],axis = 1)
df1

     #verse                                        Translation         0
0      1.1:  Dhrtarastra said: O Sanjaya, after my sons and...  0.441609
1      1.2:  Sanjaya said: O King, after looking over the a...  0.354825
2      1.3:  O my teacher, behold the great army of the son...  0.188103
3      1.4:  Here in this army are many heroic bowmen equal...  0.415430
4      1.5:  There are also great heroic, powerful fighters...  0.091340
..      ...                                                ...       ...
652  18.74:  Sanjaya said: Thus have I heard the conversati...  0.258383
653  18.75:  By the mercy of Vyasa, I have heard these most...  0.340491
654  18.76:  O King, as I repeatedly recall this wondrous a...  0.293717
655  18.77:  O King, as I remember the wonderful form of Lo...  0.298576
656  18.78:  Wherever there is Krsna, the master of all mys...  0.311784

[657 rows x 3 columns]

In [24]:
df1.columns = ['#Verse','Trans','Scores']

#

In [25]:
df2 = df1.sort_values("Scores")[-1::-1]

In [26]:
df3 = (df2[["#Verse","Trans"]].head(3))

In [27]:
df3

     #Verse                                              Trans
456  12.11:  If, however, you are unable to work in this co...
364  10.10:  To those who are constantly devoted to serving...
189   4.37:  As a blazing fire turns firewood to ashes, O A...

In [28]:
print(df3.iloc[0]["Trans"])
print('##################')
print(df3.iloc[1]["Trans"])
print('##################')
print(df3.iloc[2]["Trans"])

If, however, you are unable to work in this consciousness of Me, then try to act giving up all results of your work and try to be self-situated.
##################
To those who are constantly devoted to serving Me with love, I give the understanding by which they can come to Me.
##################
As a blazing fire turns firewood to ashes, O Arjuna, so does the fire of knowledge burn to ashes all reactions to material activities.