In [1]:
import pandas as pd
import numpy as np

In [2]:
results =[['2.13', '8.23', '2.20'],
 ['2.14', '17.8', '13.27'],
 ['3.17', '2.56', '18.25'],
 ['14.27', '11.47', '18.62'],
 ['2.23', '2.20', '2.63'],
 ['2.24', '2.17', '15.10'],
 ['1.31', '2.12', '2.6'],
 ['2.40', '15.3-4', '3.5'],
 ['18.34', '13.20', '13.6-7'],
 ['2.54', '4.14', '6.37'],
 ['7.13', '14.5', '13.22'],
 ['2.46', '4.36', '7.30'],
 ['4.26', '4.27', '3.40'],
 ['4.37', '15.8', '8.26'],
 ['18.71', '3.4', '5.3'],
 ['2.69', '17.12', '13.27'],
 ['17.10', '3.13', '16.16'],
 ['3.37', '14.7', '13.24'],
 ['15.12', '14.17', '14.12'],
 ['9.3', '4.9', '2.27'],
 ['6.28', '4.39', '12.20'],
 ['8.17', '6.41', '16.19'],
 ['10.12-13', '14.1', '7.30'],
 ['14.26', '13.22', '5.21'],
 ['2.72', '1.11', '15.3-4'],
 ['18.42', '4.30', '18.18'],
 ['8.23', '15.3-4', '6.38'],
 ['7.4', '5.11', '13.6-7'],
 ['15.7', '5.11', '11.30'],
 ['13.24', '8.16', '4.37'],
 ['1.39', '8.4', '6.15'],
 ['2.62', '14.17', '16.1-3'],
 ['12.3-4', '8.13', '13.35'],
 ['13.22', '13.24', '14.5'],
 ['12.10', '18.50', '8.23'],
 ['1.31', '3.24', '12.10'],
 ['12.11', '12.10', '2.8'],
 ['2.69', '12.5', '6.36'],
 ['11.12', '4.29', '4.27'],
 ['10.6', '18.13', '18.36'],
 ['8.13', '14.27', '14.1'],
 ['8.26', '2.54', '2.40'],
 ['5.2', '5.6', '6.28'],
 ['5.29', '2.45', '18.19'],
 ['9.3', '18.50', '16.20']]

In [3]:
# fills up the above defined array with APs
# query_df: a dataframe containing correct verse no for the respective queries
# results: a list of list containing the verse no predicted by our model
def mAP(query_df, results):
    arr = []
    count = 0
    # looping over all the queries
    for i in range(len(query_df)):
        # the correct verse number
        correct =  query_df.iloc[i]
        # the query in process
        #query = query_df.iloc[i,1]
        # list of the top 3 results from our model
        pred_list = results[i]
        
        #list_verse_pred = pred_df['#verse'].apply(lambda x: int(x)).to_list()
        #for i in range(len(list_verse_pred)):
        # assigning 0 scores to such queries
        if correct not in pred_list:
            arr.append(0)
        else:
            count += 1
            print(query_df[i]  , correct  ,  pred_list)
            ind = pred_list.index(correct)
            if (ind == 0):
                arr.append(1)
            elif (ind == 1):
                arr.append(1/2)
            elif (ind == 2):
                arr.append(1/3)
        
                
                
    mAP = sum(arr)/len(query_df)
    print("Final mAP score of the model = ",mAP)
    print("Number of answers the model could give = ",count)

In [4]:
df = pd.read_csv("queries_syn.csv")
df1 = df["VerseNo"].apply(lambda x: x[1:] )
mAP(df1,results)

2.13 2.13 ['2.13', '8.23', '2.20']
2.14 2.14 ['2.14', '17.8', '13.27']
2.23 2.23 ['2.23', '2.20', '2.63']
2.40 2.40 ['2.40', '15.3-4', '3.5']
2.46 2.46 ['2.46', '4.36', '7.30']
2.69 2.69 ['2.69', '17.12', '13.27']
3.37 3.37 ['3.37', '14.7', '13.24']
4.9 4.9 ['9.3', '4.9', '2.27']
18.42 18.42 ['18.42', '4.30', '18.18']
15.7 15.7 ['15.7', '5.11', '11.30']
12.10 12.10 ['12.10', '18.50', '8.23']
12.10 12.10 ['1.31', '3.24', '12.10']
12.5 12.5 ['2.69', '12.5', '6.36']
Final mAP score of the model =  0.2518518518518519
Number of answers the model could give =  13