In [1]:
import pandas as pd
import numpy as np

In [3]:
results = [['2.13', '8.2', '5.14'],
 ['2.14', '8.1', '13.6-7'],
 ['2.20', '2.16', '15.17'],
 ['2.21', '10.12-13', '15.5'],
 ['2.23', '11.54', '13.32'],
 ['2.23', '2.24', '13.32'],
 ['2.30', '2.6', '3.18'],
 ['2.40', '15.10', '3.4'],
 ['2.44', '9.21', '16.16'],
 ['2.45', '8.1', '2.54'],
 ['13.20', '4.23', '7.13'],
 ['2.46', '7.30', '14.11'],
 ['4.26', '2.62', '4.27'],
 ['2.54', '2.63', '8.2'],
 ['2.64', '3.34', '18.45'],
 ['2.69', '8.1', '18.30'],
 ['17.10', '9.19', '3.14'],
 ['3.37', '4.12', '9.3'],
 ['4.7', '18.32', '11.12'],
 ['4.9', '9.3', '8.16'],
 ['8.9', '4.10', '13.23'],
 ['4.13', '15.2', '15.14'],
 ['4.34', '10.12-13', '9.18'],
 ['5.22', '6.4', '9.3'],
 ['2.72', '6.15', '18.55'],
 ['18.42', '18.22', '16.5'],
 ['15.15', '8.23', '18.71'],
 ['4.27', '15.7', '3.42'],
 ['15.7', '4.26', '18.18'],
 ['9.3', '15.6', '8.15'],
 ['9.18', '6.15', '15.5'],
 ['16.1-3', '10.4-5', '18.36'],
 ['14.26', '11.55', '7.30'],
 ['13.22', '13.20', '4.9'],
 ['18.50', '12.10', '18.45'],
 ['16.24', '12.10', '8.1'],
 ['12.9', '4.4', '2.54'],
 ['12.5', '4.19', '2.69'],
 ['11.54', '4.27', '18.29'],
 ['10.41', '10.32', '15.3-4'],
 ['14.27', '9.18', '9.17'],
 ['10.9', '3.35', '15.8'],
 ['10.8', '17.4', '18.55'],
 ['10.8', '7.6', '5.29'],
 ['9.32', '7.30', '8.2']]

In [61]:
# fills up the above defined array with APs
# query_df: a dataframe containing correct verse no for the respective queries
# results: a list of list containing the verse no predicted by our model
def mAP(query_df, results):
    arr = []
    count = 0
    # looping over all the queries
    for i in range(len(query_df)):
        # the correct verse number
        correct =  query_df.iloc[i]
        # the query in process
        #query = query_df.iloc[i,1]
        # list of the top 3 results from our model
        pred_list = results[i]
        
        #list_verse_pred = pred_df['#verse'].apply(lambda x: int(x)).to_list()
        #for i in range(len(list_verse_pred)):
        # assigning 0 scores to such queries
        if correct not in pred_list:
            arr.append(0)
        else:
            count += 1
            print(query_df[i]  , correct  ,  pred_list)
            ind = pred_list.index(correct)
            if (ind == 0):
                arr.append(1)
            elif (ind == 1):
                arr.append(1/2)
            elif (ind == 2):
                arr.append(1/3)
        
                
                
    mAP = sum(arr)/len(query_df)
    print("Final mAP score of the model = ",mAP)
    print("Number of answers the model could give = ",count)

In [62]:
df = pd.read_csv("queries_syn.csv")
df1 = df["VerseNo"].apply(lambda x: x[1:] )
mAP(df1,results)

2.13 2.13 ['2.13', '8.2', '5.14']
2.14 2.14 ['2.14', '8.1', '13.6-7']
2.20 2.20 ['2.20', '2.16', '15.17']
2.23 2.23 ['2.23', '11.54', '13.32']
2.23 2.23 ['2.23', '2.24', '13.32']
2.30 2.30 ['2.30', '2.6', '3.18']
2.40 2.40 ['2.40', '15.10', '3.4']
2.44 2.44 ['2.44', '9.21', '16.16']
2.45 2.45 ['2.45', '8.1', '2.54']
2.46 2.46 ['2.46', '7.30', '14.11']
2.62 2.62 ['4.26', '2.62', '4.27']
2.63 2.63 ['2.54', '2.63', '8.2']
2.64 2.64 ['2.64', '3.34', '18.45']
2.69 2.69 ['2.69', '8.1', '18.30']
3.14 3.14 ['17.10', '9.19', '3.14']
3.37 3.37 ['3.37', '4.12', '9.3']
4.7 4.7 ['4.7', '18.32', '11.12']
4.9 4.9 ['4.9', '9.3', '8.16']
4.10 4.10 ['8.9', '4.10', '13.23']
4.13 4.13 ['4.13', '15.2', '15.14']
4.34 4.34 ['4.34', '10.12-13', '9.18']
5.22 5.22 ['5.22', '6.4', '9.3']
18.55 18.55 ['2.72', '6.15', '18.55']
18.42 18.42 ['18.42', '18.22', '16.5']
15.15 15.15 ['15.15', '8.23', '18.71']
15.7 15.7 ['4.27', '15.7', '3.42']
15.7 15.7 ['15.7', '4.26', '18.18']
15.6 15.6 ['9.3', '15.6', '8.15']
15.5 15.5 ['9.18', '6.15', '15.5']
14.26 14.26 ['14.26', '11.55', '7.30']
12.10 12.10 ['18.50', '12.10', '18.45']
12.10 12.10 ['16.24', '12.10', '8.1']
12.9 12.9 ['12.9', '4.4', '2.54']
12.5 12.5 ['12.5', '4.19', '2.69']
11.54 11.54 ['11.54', '4.27', '18.29']
10.41 10.41 ['10.41', '10.32', '15.3-4']
10.9 10.9 ['10.9', '3.35', '15.8']
10.8 10.8 ['10.8', '17.4', '18.55']
10.8 10.8 ['10.8', '7.6', '5.29']
9.32 9.32 ['9.32', '7.30', '8.2']
Final mAP score of the model =  0.7666666666666667
Number of answers the model could give =  40

In [43]:
df1.iloc[1][0]

'2'